 .contenido{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    margin-top: 150px;
    max-width: 90%;
}

.details_description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5rem;
}

#precio{
    color: var(--black);
    font-size: 2rem;
    
}

.box1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#img{
    width: 100%;
}
#img img{
    width: 100%;
}
.btn-select{
    margin-bottom: 5px;
} 